body {
  background-image: url("tahiti-image.jpg");
  background-repeat: no-repeat;
  font-family: 'Pacifico', cursive;
}

.black-box {
  height: 325px;
  width: 325px;
  margin-top: 50px;
  background-color: #000;
  text-align: center;
}

.flag-image {
  margin-top: ;
  width ;
  border-radius: ;
}

h1,h2 {
  font-family: 'Pacifico', cursive;
}

a {
  color: white;
}